<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="PDFMaker" type="ShipmentReports.Maker.PDF.PDFMakerSection, ShipmentReports.Maker.PDF"/>
    <section name="Filters" type="ShipmentReports.Common.FiltersSection, ShipmentReports.Common"/>
    <section name="Unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />    
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <Unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <register type="ShipmentReports.Maker.Interface.IMaker, ShipmentReports.Maker.Interface" mapTo="ShipmentReports.Maker.PDF.PDFMaker, ShipmentReports.Maker.PDF" />
      <register type="ShipmentReports.Logging.Interface.ILogger, ShipmentReports.Logging.Interface" mapTo="ShipmentReports.Logging.Console.ConsoleLogger, ShipmentReports.Logging.Console" />
      <register type="ShipmentReports.Parser.Interface.IParser, ShipmentReports.Parser.Interface" mapTo="ShipmentReports.Parser.Textual.TextualParser, ShipmentReports.Parser.Textual" />
    </container>
  </Unity>
  
  <PDFMaker nameFontSize="12" idFontSize="21" dateFontSize="10" titleFontName="COURIER">
    <finalReportSettings>
      <field sourceFieldName="Ritiro" destinationFieldName="Ritiro" order="1"/>
      <field sourceFieldName="Mitt" destinationFieldName="Mitt" order="2"/>
      <field sourceFieldName="Localita" destinationFieldName="Localita" order="3"/>
      <field sourceFieldName="Prov" destinationFieldName="Prov" order="4"/>
      <field sourceFieldName="Zona" destinationFieldName="Zona" order="5"/>
      <field sourceFieldName="Colli" destinationFieldName="Colli" order="6"/>
      <field sourceFieldName="Peso" destinationFieldName="Peso" order="7"/>
    </finalReportSettings>
  </PDFMaker>

  <Filters>
    <filtersSettings>
      <filter pattern="\s*\*[A-Za-z0-9]" suffix="_Limena"/>
      <filter pattern="\s*[A-Za-z0-9]" suffix="_Padova"/>
    </filtersSettings>
  </Filters>
</configuration>